// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2019 Igor Pecovnik <igor@armbian.com>
 * Copyright (C) 2020 Jayantajit Gogoi <jayanta.gogoi525@gmail.com>
 * Copyright (C) 2020 Yu-Tung Chang <mtwget@gmail.com>
 * Copyright (C) 2023-2024 Darsey Litzenberger <dlitz@dlitz.net>
*/

#include "sun8i-h3-nanopi.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "FriendlyElec NanoPi-R1S-H3";
	compatible = "friendlyelec,nanopi-r1s-h3", "allwinner,sun8i-h3";

	aliases {
		serial1 = &uart1;
		ethernet0 = &emac;
		ethernet1 = &wifi;
		ethernet2 = &usb_ethernet;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		ramoops: ramoops@50000000 {
			compatible = "ramoops";
			reg = <0x50000000 0x80000>;	/* 512 KiB */
			record-size = <0x4000>;		/* 16 KiB */
			console-size = <0x20000>;	/* 128 KiB */
			ftrace-size = <0x20000>;	/* 128 KiB */
			pmsg-size = <0x20000>;		/* 128 KiB */
			ecc-size = <16>;
			max-reason = <3>;	/* KMSG_DUMP_EMERG */
			status = "disabled";
		};
	};

	reg_vcc_dram: vcc-dram {
		compatible = "regulator-fixed";
		regulator-name = "vcc-dram";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&r_pio 0 9 GPIO_ACTIVE_HIGH>; /* PL9 */
		vin-supply = <&reg_vcc5v0>;
	};

	reg_vcc2v5: vcc2v5 {
		compatible = "regulator-fixed";
		regulator-name = "vcc2v5";
		regulator-min-microvolt = <2500000>;
		regulator-max-microvolt = <2500000>;
	};

	reg_gmac_3v3: gmac-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "gmac-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <100000>;
		enable-active-high;
		gpio = <&pio 3 6 GPIO_ACTIVE_HIGH>; /* PD6 */
	};

	reg_vdd_cpux: gpio-regulator {
		compatible = "regulator-gpio";
		regulator-name = "vdd-cpux";
		regulator-type = "voltage";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1300000>;
		regulator-ramp-delay = <50>;
		gpios = <&r_pio 0 6 GPIO_ACTIVE_HIGH>; /* PL6 */
		gpios-states = <0x1>;
		states = <1100000 0x0>,
			 <1300000 0x1>;
		vin-supply = <&reg_vcc5v0>;
	};

	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&r_pio 0 7 GPIO_ACTIVE_LOW>; /* PL7 */
		clocks = <&rtc CLK_OSC32K_FANOUT>;
		clock-names = "ext_clock";
	};

	leds {
		led-0 {
			label = "nanopi:red:status";
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_RED>;
		};

		led-1 {
			status = "disabled";
		};

		led-2 {
			label = "nanopi:green:wan";
			function = LED_FUNCTION_WAN;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pio 6 11 GPIO_ACTIVE_HIGH>; /* PG11 */
		};

		led-3 {
			label = "nanopi:green:lan";
			function = LED_FUNCTION_LAN;
			color = <LED_COLOR_ID_GREEN>;
			gpios = <&pio 0 9 GPIO_ACTIVE_HIGH>; /* PA9 */
		};
	};

	fan0: gpio_fan {
		compatible = "gpio-fan";
		label = "GPIO fan";
		gpios = <&r_pio 0 5 GPIO_ACTIVE_HIGH>;	/* PL5 */
		#cooling-cells = <2>;
		gpio-fan,speed-map = <0 0>, <10000 1>;
		status = "disabled";	/* normally unpopulated */
	};
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpux>;
};

&ehci1 {
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	/* hard-wired USB ethernet device */
	usb_ethernet: ethernet@1 {
		compatible = "usbbda,8153";	/* RTL8153 Gigabit Ethernet */
		reg = <1>;

		/* Bits 15:12 - 0000b - feature control: active low; Option 1
		 * Bits 11:8  - 0000b - LEDSEL2 (unconnected): LED Off
		 * Bits 7:4   - 0111b - LEDSEL1 (yellow): Link 1000/100/10 Mbps
		 * Bits 3:0   - 1000b - LEDSEL0 (green): Activity */
		realtek,led-data = <0x0078>;
	};
};

&ehci2 {
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&emac_rgmii_pins>;
	phy-supply = <&reg_gmac_3v3>;
	phy-handle = <&ext_rgmii_phy>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&external_mdio {
	ext_rgmii_phy: ethernet-phy@7 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <7>;
		reset-gpios = <&pio 3 14 GPIO_ACTIVE_LOW>; /* PD14 */
		phy-io-supply = <&reg_vcc2v5>;	// Is this the correct spot?  Check for  [  +0.000235] dwmac-sun8i 1c30000.ethernet: supply phy-io not found, using dummy regulator
	};
};

// normally-unpopulated 8-SOIC footprint designated U14
&spi0 {
	status = "okay";

	spiflash: spiflash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mxicy,mx25l12805d", "jedec,spi-nor";
		reg = <0>;
		status = "disabled";	/* normally unpopulated */

		//vdd-supply = <&reg_vcc3v3>;	// DTC_CHK complains about this

		spi-max-frequency = <104000000>;
		m25p,fast-read;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			u-boot-sunxi-with-spl@0 {
				reg = <0x0 0xf0000>;	/* 960 KiB */
			};

			u-boot-env@f0000 {
				reg = <0xf0000 0x10000>;	/* 64 KiB */
			};

			// TODO: Other stuff here?  A recovery filesystem?  pstore space?
		};
	};
};

&mmc1 {
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc3v3>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	/* compatible with rtl8189/ap6256 */
	wifi: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
		interrupt-parent = <&pio>;
		//interrupts = <6 10 IRQ_TYPE_LEVEL_HIGH>; /* PG10 / EINT10 */
		interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 / EINT10 */
		// TODO: Should the above be IRQ_TYPE_LEVEL_LOW like on other devices?
		interrupt-names = "host-wake";
	};
};

&ohci1 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>, <&uart3_rts_cts_pins>;
	uart-has-rtscts;
	status = "okay";

	// TODO(dlitz) - Test bluetooth support
	bluetooth {
		compatible = "brcm,bcm43438-bt";
		clocks = <&rtc CLK_OSC32K_FANOUT>;
		clock-names = "lpo";
		vbat-supply = <&reg_vcc3v3>;
		vddio-supply = <&reg_vcc3v3>;
		device-wakeup-gpios = <&pio 0 8 GPIO_ACTIVE_HIGH>; /* PA8 */
		shutdown-gpios = <&pio 6 13 GPIO_ACTIVE_HIGH>; /* PG13 */
		interrupt-parent = <&pio>;
		interrupts = <0 7 IRQ_TYPE_LEVEL_HIGH>; /* PA7 / EINT7 */
		interrupt-names = "host-wakeup";
	};
};

&usb_otg {
	status = "okay";
	dr_mode = "otg";
};

&usbphy {
	usb0_id_det-gpios = <&pio 6 12 GPIO_ACTIVE_HIGH>; /* PG12 */
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

	eeprom0: eeprom@51 {
		/* Microchip 24AA025E48T-I/OT */
		compatible = "microchip,24c02", "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		vcc-supply = <&reg_vcc3v3>;
		label = "eeprom";

		#address-cells = <1>;
		#size-cells = <1>;

		status = "disabled";	/* normally unpopulated */

		eeprom0_writable: eeprom@0 {
			reg = <0x0 0x80>;
		};
		/* nothing useful between 0x80 and 0x7a.  It's all-FF and read-only. */
		eeprom0_mac_address: mac-address@fa {
			reg = <0xfa 0x6>;
			read-only;
		};
	};
};

&pio {
	vcc-pa-supply = <&reg_vcc3v3>;	// VCC_IO
	vcc-pc-supply = <&reg_vcc3v3>;	// VCC_IO
	vcc-pd-supply = <&reg_vcc2v5>;	// VCC_PD
	vcc-pe-supply = <&reg_vcc3v3>;	// VCC_IO
	vcc-pf-supply = <&reg_vcc3v3>;	// VCC_IO
	vcc-pg-supply = <&reg_vcc3v3>;	// VCC_PG
};

&r_pio {
	vcc-pl-supply = <&reg_vcc3v3>;	// VCC_IO
};

#if 0
&cpu_thermal {
	trips {
		cpu_less_warm_trip: cpu-warm {
			temperature = <25000>;
			hysteresis = <2000>;
			type = "active";
		};
		cpu_warm_trip: cpu-warm {
			temperature = <30000>;
			hysteresis = <2000>;
			type = "active";
		};
		cpu_warmer_trip: cpu-warm {
			temperature = <35000>;
			hysteresis = <2000>;
			type = "active";
		};
	};
	cooling-maps {
		cpu-hot-limit {
			contribution = <1>;
		};
		map0 {
			trip = <&cpu_less_warm_trip>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <1>;
		};
		map1 {
			trip = <&cpu_warm_trip>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <1>;
		};
		map2 {
			trip = <&cpu_warmer_trip>;
			cooling-device = <&fan0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			contribution = <1>;
		};
	};
};
#endif
